/* Fontawesome Nanum Gothic */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* XEICON */
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* Default */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  color: #222222;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
b,
p,
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
/* Pop */
.pop {
  background: url(/images/pop-image.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 90px;
}
/* Layout CSS  */
header,
section.wrap,
footer {
  width: 1152px;
  margin: auto;
}
/* ############### Header ############### */
header {
  margin-top: 10px;
}
/* Header - menu */
.menu {
  display: flex;
}
.seoul-logo a {
  display: inline-block;
  width: 105px;
  height: 27px;
  background: url(/images/seoul-logo02.png) no-repeat center center;
  background-size: cover;
}
nav {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.nav-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 40px;
}
.nav-menu li {
  margin: 0 10px;
}
.nav-menu li a {
  font-size: 16px;
  font-weight: 700;
}
.nav-my {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.nav-my li {
  margin: 0 10px;
}
.nav-my li a {
  font-size: 14px;
  font-weight: 700;
}
.nav-menu li a:hover,
.nav-my li a:hover {
  color: #2292e9;
}
/* Header - search */
.search {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  margin-top: 10px;
}
.seoul-slogan a {
  display: inline-block;
  width: 133px;
  height: 51px;
  background: url(/images/seoul-slogan.png) no-repeat center center;
  background-size: cover;
  margin-top: 30px;
}
.search-box {
  border: 3px solid #2292e9;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  width: 40%;
  height: 40px;
}
.search-box form {
  height: 100%;
}
.search-box form input[type="text"] {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.search-box form input[type="text"]::placeholder {
  color: #2292e9;
  transition: 0.3s;
}
.search-box form input[type="text"]:focus::placeholder {
  opacity: 0;
}
.search-box > form > img {
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.search-box > form > button {
  width: 35px;
  height: 35px;
  border: none;
  background: url(/images/icon_set_common.png) no-repeat -32px -97px;
  float: right;
  padding: 0;
  cursor: pointer;
}
.site-lang {
  border: 1px solid #1e6cb3;
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 21px;
  display: flex;
}
.site-lang select {
  float: left;
  width: 80px;
  height: 100%;
  border: none;
  color: #1e6cb3;
  font-size: 12px;
  outline: none;
}
.site-lang input[type="button"] {
  display: inline-block;
  width: 30px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #1e6cb3;
  color: #fff;
  font-size: 11px;
}
.weather-brand {
  display: flex;
  position: absolute;
  top: 40px;
  right: 0;
}
.weather-box {
  margin-right: 40px;
  display: flex;
}
.weather-img a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(/images/weathericon_d3.png) no-repeat;
  background-size: cover;
  margin-right: 15px;
}
.weather-text p:nth-of-type(1) {
  margin-bottom: 5px;
}
.weather-text p:nth-of-type(1) a strong {
  font-size: 25px;
  font-weight: 700;
}
.weather-text p:nth-of-type(1) a span {
  font-size: 16px;
  margin-left: 20px;
}
.weather-text p:nth-of-type(2) a span {
  font-size: 13px;
}
.weather-text p:nth-of-type(2) a span em {
  font-style: normal;
  font-size: 14px;
  color: #c35c3c;
}
.new-brand a {
  display: inline-block;
  width: 74px;
  height: 47px;
  background: url(/images/seoul-brand.png) no-repeat center center;
  background-size: cover;
}
/* ############### Main ############### */
/* Main - main issue */
.main-issue {
  border: 1px solid #000;
  overflow: hidden;
}
/* Main - main issue(주요뉴스 & 시민참여) */
.issue-area {
  border: 1px solid red;
  float: left;
  width: 770px;
  height: 350px;
  overflow: hidden;
}

.main-issue-slide01{
  width: 100%;
  height: 100%;
}

.issue-slide-title{
  float: left;
}
.issue-slide-title h3{
  border: 1px solid #000;
  width: 80px;
  height: 175px;
  background-color: #0158a8;
}
.issue-slide-title h3 a{
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
}
.issue-slide-title h3 a i{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff url(/images/icon_main_2019\ 1.png) no-repeat;
  background-size: cover;
  margin: 0 auto 8px;
}

.issue-slide-contents{}
.contents-wrap{}
.contents-wrap-inner{}
.contents-wrap-inner ul{
  width: 6215%;
}
.contents-wrap-inner ul li{
  float: left;
  width: 690px;
  position: relative;
}
.contents-wrap-inner ul li a{
  width: 100%;
}
.contents-wrap-inner ul li a img{
  width: 100%;
}
.contents-wrap-inner ul li a p{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  padding-left: 10px;
}

.contents-control{}
button.contents-all-btn{}













/* Main - main issue(시장님) */
.mayor-area {
  float: right;
  width: 360px;
  height: 350px;
}
.mayor-news {
  height: 190px;
  background: url(/images/MAYORNEWS_20240327111132_61798.jpg) no-repeat center
    center;
  background-size: cover;
  position: relative;
}
.mayor-news a {
  /* a늘리기 */
  display: block;
  width: 100%;
  height: 100%;
}
.mayor-news a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
}
.mayor-page {
  margin: 10px 0;
  position: relative;
  width: 100%;
  height: 90px;
}
.page-bg,
.page-hope,
.page-list {
  position: absolute;
}
.page-hope {
  top: 13px;
  right: 5px;
}
div.page-list {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
div.page-list > a {
  padding: 5px 15px;
  background-color: #8b7153;
  display: inline-block;
  width: 100%;
  border-right: 1px solid #fff;
  text-align: center;
}
div.page-list > a:last-child{
  border: none;
}
.mayor-kakao {
  background-color: #eed925;
  padding: 5px 10px;
}

/* Main - 주요서비스 */
.service-title {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
.service-title h2 {
  font-size: 24px;
  font-weight: 700;
}
.service-title a {
  width: 112px;
  height: 29px;
  border: 1px solid #ddd;
  font-size: 15px;
  text-align: center;
  line-height: 29px;
  margin-left: 25px;
  padding-right: 10px;
}
.service-contents ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.service-contents ul li {
  text-align: center;
  width: auto;
  height: 90px;
}
.service-contents ul li a {
  display: block;
  font-size: 15px;
  text-align: center;
}
.service-contents ul li a i {
  display: block;
  width: 60px;
  height: 60px;
  background: url(/images/icon_set_service_202403.png) no-repeat;
  margin: 0 auto 5px;
}
/* 주요 서비스 아이콘 레이아웃 */
.service-contents ul li a i.ms01 {
  background-position: -360px 0;
}
.service-contents ul li a i.ms02 {
  background-position: 0 0;
}
.service-contents ul li a i.ms03 {
  background-position: -120px 0;
}
.service-contents ul li a i.ms04 {
  background-position: -300px 0;
}
.service-contents ul li a i.ms05 {
  background-position: -180px 0;
}
.service-contents ul li a i.ms06 {
  background-position: -960px 0;
}
.service-contents ul li a i.ms07 {
  background-position: -780px 0;
}
.service-contents ul li a i.ms08 {
  background-position: -1140px 0;
}
.service-contents ul li a i.ms09 {
  background-position: -1020px 0;
}
.service-contents ul li a i.ms10 {
  background-position: -60px 0;
}
.service-contents ul li a i.ms11 {
  background-position: -1200px 0;
}
.service-contents ul li a i.ms12 {
  background-position: -600px 0;
}
/* Main - aside */
aside {
  width: 100%;
  background-color: #eff4f8;
  margin: 20px 0;
}
aside ul {
  width: 1152px;
  margin: auto;
  display: flex;
}
aside ul li {
  padding: 20px 0;
}
aside ul li:not(:first-child) a img {
  border-left: 1px solid #bbb;
  width: 230px;
  height: 70px;
}
/* Main - inner01(common) */
.inner01 {
  width: 100%;
  overflow: hidden;
  padding: 40px 0 40px;
  border-bottom: 2px solid #222;
}
.inner01 > div {
  float: left;
  width: 360px;
  position: relative;
}
.inner01 > div > h2 {
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.inner01 > div:last-of-type > h2 {
  border: none;
  margin-bottom: 0;
}
.event h2::after,
.festival h2::after {
  content: "\e914";
  font-family: xeicon;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #dbdbdb;
  font-size: 18px;
  color: #222;
  text-align: center;
  line-height: 18px;
  position: absolute;
  right: 0;
  top: 5px;
}
.event > ul > li,
.festival > ul > li {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event > ul > li > b,
.festival > ul > li > b {
  font-size: 15px;
  margin-right: 10px;
}
b.welfare {
  color: #d76000;
}
b.economy {
  color: #069363;
}
b.environment {
  color: #599100;
}
b.culture {
  color: #9b64d3;
}
b.administration {
  color: #028ab6;
}
.event > ul > li > a,
.festival > ul > li > a,
.like-service > ul > li > a {
  font-size: 14px;
}
/* Main - inner01(festival) */
.festival {
  margin: 0 35px;
}
/* Main - inner01(like service) */
.like-service ul {
  overflow: hidden;
  background-color: #eff4f8;
  padding: 15px 0 15px 20px;
}
.like-service ul li {
  width: 50%;
  float: left;
  padding: 0 0 8px 10px;
  position: relative;
}
.like-service ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  background: #666666;
  width: 2px;
  height: 2px;
}
/* Main - inner02(분야별 정보) */
.inner02 {
  width: 100%;
  padding-top: 40px;
}
.inner02 h2 {
  font-size: 24px;
  font-weight: 700;
}
.info {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.info li {
  float: left;
  width: 85px;
  text-align: center;
  margin: 0 29px;
}
li.icon-house {
  background: url(/images/info_icon_house.png) no-repeat;
}
li.icon-economy {
  background: url(/images/info_icon_economy.png) no-repeat;
}
li.icon-traffic {
  background: url(/images/info_icon_traffic.png) no-repeat;
}
li.icon-environment {
  background: url(/images/info_icon_environment.png) no-repeat;
}
li.icon-welfare {
  background: url(/images/info_icon_welfare.png) no-repeat;
}
li.icon-safty {
  background: url(/images/info_icon_safty.png) no-repeat;
}
li.icon-culture {
  background: url(/images/info_icon_culture.png) no-repeat;
}
li.icon-administration {
  background: url(/images/info_icon_administration.png) no-repeat;
}
.info li a {
  font-size: 16px;
  display: inline-block;
  /* padding으로 늘려서 a로 보이게함 */
  padding-top: 100px;
}
/* Main - inner03(새소식) */
.inner03 {
  width: 100%;
  padding-top: 40px;
  position: relative;
}
.inner03 h2 {
  font-size: 24px;
  font-weight: 700;
}
.new-issue-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
.new-issue-container > div {
  float: left;
  width: 272px;
  margin-left: 20px;
  position: relative;
}
.new-issue-container > div:nth-of-type(1),
.new-issue-container > div:nth-of-type(5) {
  margin-left: 0;
}
.new-issue-container > div > h3 {
  font-size: 14px;
  font-weight: 700;
  width: 85px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  position: absolute;
  top: 154px;
  z-index: 100;
}
h3.only {
  display: none;
}
h3.welfare {
  background-color: #d76000;
}
h3.environment {
  background-color: #599100;
}
h3.home {
  background-color: #c35c3c;
}
h3.economy {
  background-color: #069363;
}
h3.administration {
  background-color: #028ab6;
}
.new-issue-container > div > a {
  display: block;
  width: 100%;
}
.new-issue-img {
  width: 100%;
  height: 188px;
  margin-bottom: 15px;
  overflow: hidden;
}
.new-issue-img:hover > img {
  transform: scale(1.1);
}
.new-issue-img > img {
  width: auto;
  transition: 0.35s;
}
.new-issue-caption {
  font-size: 15px;
  width: 100%;
  height: 3em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: normal;
  word-break: keep-all;
  overflow: hidden;
  margin-bottom: 20px;
}
.new-issue-all {
  position: absolute;
  top: 60px;
  right: 0;
}
.new-issue-all a {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #7d7d7d;
}
/* Main - inner04 */
.inner04 {
  width: 100%;
  padding: 20px 0 30px;
  border-bottom: 2px solid #222;
  overflow: hidden;
}
.inner04 > div {
  float: left;
}
.seoul-video h2,
.seoul-issue h2,
.seoul-sns h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}
/* Main - inner04(서울영상) */
.video-box {
  position: relative;
  width: 280px;
  height: 152px;
  overflow: hidden;
}
.video-box a img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.video-box:hover img {
  transform: scale(1.1);
}
.video-box a p {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  z-index: 100;
}
/* Main - inner04(서울소식) */
.seoul-issue {
  margin: 0 20px;
}
.seoul-issue-contents {
  width: 480px;
  height: 152px;
}
.seoul-issue-contents li {
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seoul-issue-contents li a b {
  color: #09ac43;
  margin-right: 10px;
}
/* Main - inner04(서울SNS) */
.seoul-sns {
  width: 350px;
  height: 195px;
  background: url(/images/sns-list-bg.gif) no-repeat center center;
  position: relative;
}
.seoul-sns a {
  display: block;
  padding: 10px 15px;
  position: relative;
}
.seoul-sns h2 {
  display: inline-block;
}
.seoul-sns p {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #7d7d7d;
}
.seoul-sns-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seoul-sns-list li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(/images/sns-list.png) no-repeat;
  margin: 0 2px;
}
.seoul-sns-list li:nth-of-type(1) a {
  background-position: -40px 0;
}
.seoul-sns-list li:nth-of-type(2) a {
  background-position: 0 0;
}
.seoul-sns-list li:nth-of-type(3) a {
  background-position: -160px 0;
}
.seoul-sns-list li:nth-of-type(4) a {
  background-position: -80px 0;
}
.seoul-sns-list li:nth-of-type(5) a {
  background-position: -120px 0;
}
.seoul-sns-list li:nth-of-type(6) a {
  background-position: -200px 0;
}
.seoul-sns-list li:nth-of-type(7) a {
  background-position: -240px 0;
}
/* Main - inner05(슬라이드배너) */
.inner05 {
  width: 100%;
  padding-top: 40px;
}
.slide-container {
  border: 1px solid orange;
}
.slide-image-box {
  border: 1px solid red;
  width: 100%;
  height: 122px;
  /* overflow: hidden; */
  position: relative;
}
.slide-images {
  width: 2779px;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-images li {
  float: left;
  margin-right: 42px;
}
.slide-images li a {
}
.slide-images li a img {
  width: 355px;
  height: 122px;
}
.slide-control-box {
  border: 1px solid #000;
  display: flex;
  position: relative;
  width: 100%;
  height: 32px;
}
.slide-count {
  position: absolute;
  top: 0;
  right: 70px;
}
.slide-number {
}
.slide-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #999;
}
.prev-btn,
.stop-btn,
.next-btn {
  width: 20px;
  height: 20px;
  border: none;
  color: #222;
  background-color: #fff;
}
.prev-btn,
.stop-btn {
  margin-right: -4px;
  border-right: 1px solid #999;
}
/* Main - inner06(관련사이트) */
.inner06 {
  width: 100%;
  padding: 50px 0 30px;
  position: relative;
}
.site-list {
  overflow: hidden;
  border: 1px solid #d0d0d0;
}
.site-list > li {
  width: 20%;
  float: left;
  border-right: 1px solid #d0d0d0;
}
.site-list > li > button {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border: none;
  background-color: #f7f7f7;
  color: #333;
  cursor: pointer;
}
.site-list > li > button > span {
  font-size: 14px;
}
.site-list > li > button > span::after {
  content: "\e944";
  font-family: xeicon;
  margin-left: 10px;
  color: #333;
  /* .active의 transform적용시키기 위해서 
  인라인 요소인경우 적용이 안됨*/
  display: inline-block;
  transition: 0.3s;
}
.site-list > li > button.only-name > span::after {
  display: none;
}
/* 펼치면 나오는 부분 */
.site-list-box {
  display: none;
  border: 1px solid #d0d0d0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 80px;
  left: 0;
  background-color: #fff;
  padding: 10px 30px;
  z-index: 1000;
  transition: 0.35s;
}
.site-list-box > ul > li {
  float: left;
  width: 25%;
  padding: 8px 0;
}
/* 클릭이벤트CSS */
.site-list > li > button.active {
  background-color: #e2e2e2;
}
.site-list > li > button.only-name.active {
  background-color: #f7f7f7;
}
.site-list > li > button.active > span::after {
  transform: rotate(180deg);
}
.site-list-box.active {
  display: block;
}
/* ############### Footer ############### */
.footer-link ul {
  padding: 10px 0;
  overflow: hidden;
}
.footer-link ul li {
  float: left;
}
.footer-link ul li a {
  font-size: 12px;
  border-right: 1px solid #dcdcdc;
  padding: 0 10px;
}
.footer-link ul li:first-child a {
  padding-left: 0;
}
.li-kakao {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 114px;
  height: 24px;
  position: relative;
}
.li-kakao a {
  position: absolute;
}
.li-kakao::after {
  content: "";
  width: 114px;
  height: 24px;
  background: url(/images/ico-sns-pc.png) no-repeat 0 -30px;
}
.footer-info {
  position: relative;
  padding: 20px 0 30px;
  border-top: 2px solid #d0d0d0;
}
.footer-info span {
  float: left;
  width: 108px;
  height: 45px;
  background: url(/images/icon_set_common.png) no-repeat -180px 0;
  margin-right: 40px;
}
.adderss {
  font-size: 14px;
  font-weight: 500;
}
.adderss a,
.copyright {
  font-size: 11px;
}
.tel {
  font-size: 12px;
}
.mark {
  position: absolute;
  top: 20px;
  right: 0;
}
