@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

/* Default */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  color: #222222;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
/* Pop */
.pop {
  background: url(/images/pop-image.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 90px;
}
/* Layout CSS  */
header,
section.wrap,
footer {
  width: 1152px;
  margin: auto;
}
/* ########## Header ########## */
header {
  margin-top: 10px;
}
/* Header - menu */
.menu {
  display: flex;
}
.seoul-logo a {
  display: inline-block;
  width: 105px;
  height: 27px;
  background: url(/images/seoul-logo02.png) no-repeat center center;
  background-size: cover;
}
nav {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.nav-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 40px;
}
.nav-menu li {
  margin: 0 10px;
}
.nav-menu li a {
  font-size: 16px;
  font-weight: 700;
}
.nav-my {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.nav-my li {
  margin: 0 10px;
}
.nav-my li a {
  font-size: 14px;
  font-weight: 700;
}
.nav-menu li a:hover,
.nav-my li a:hover {
  color: #2292e9;
}
/* Header - search */
.search {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  margin-top: 10px;
}
.seoul-slogan a {
  display: inline-block;
  width: 133px;
  height: 51px;
  background: url(/images/seoul-slogan.png) no-repeat center center;
  background-size: cover;
  margin-top: 30px;
}
.search-box {
  border: 3px solid #2292e9;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  width: 40%;
  height: 40px;
}
.search-box form {
  height: 100%;
}
.search-box form input[type="text"] {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.search-box form input[type="text"]::placeholder {
  color: #2292e9;
  transition: 0.3s;
}
.search-box form input[type="text"]:focus::placeholder {
  opacity: 0;
}
.search-box > form > img {
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.search-box > form > button {
  width: 35px;
  height: 35px;
  border: none;
  background: url(/images/icon_set_common.png) no-repeat -32px -97px;
  float: right;
  padding: 0;
  cursor: pointer;
}
.site-lang {
  border: 1px solid #1e6cb3;
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 21px;
  display: flex;
}
.site-lang select {
  float: left;
  width: 80px;
  height: 100%;
  border: none;
  color: #1e6cb3;
  font-size: 12px;
  outline: none;
}
.site-lang input[type="button"] {
  display: inline-block;
  width: 30px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #1e6cb3;
  color: #fff;
  font-size: 11px;
}
.weather-brand {
  display: flex;
  position: absolute;
  top: 40px;
  right: 0;
}
.weather-box {
  margin-right: 40px;
  display: flex;
}
.weather-img a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(/images/weathericon_d3.png) no-repeat;
  background-size: cover;
  margin-right: 15px;
}
.weather-text p:nth-of-type(1) {
  margin-bottom: 5px;
}
.weather-text p:nth-of-type(1) a strong {
  font-size: 25px;
  font-weight: 700;
}
.weather-text p:nth-of-type(1) a span {
  font-size: 16px;
  margin-left: 20px;
}
.weather-text p:nth-of-type(2) a span {
  font-size: 13px;
}
.weather-text p:nth-of-type(2) a span em {
  font-style: normal;
  font-size: 14px;
  color: #c35c3c;
}
.new-brand a {
  display: inline-block;
  width: 74px;
  height: 47px;
  background: url(/images/seoul-brand.png) no-repeat center center;
  background-size: cover;
}
/* ########## Main ########## */

/* Main - 주요서비스 */
.service-title {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
.service-title h2 {
  font-size: 24px;
  font-weight: 700;
}
.service-title a {
  width: 112px;
  height: 29px;
  border: 1px solid #ddd;
  font-size: 15px;
  text-align: center;
  line-height: 29px;
  margin-left: 25px;
  padding-right: 10px;
}
.service-contents ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.service-contents ul li {
  text-align: center;
  width: auto;
  height: 90px;
}
.service-contents ul li a {
  display: block;
  font-size: 15px;
  text-align: center;
}
.service-contents ul li a i {
  display: block;
  width: 60px;
  height: 60px;
  background: url(/images/icon_set_service_202403.png) no-repeat;
  margin: 0 auto 5px;
}
/* 주요 서비스 아이콘 레이아웃 */
.service-contents ul li a i.ms01 {
  background-position: -360px 0;
}
.service-contents ul li a i.ms02 {
  background-position: 0 0;
}
.service-contents ul li a i.ms03 {
  background-position: -120px 0;
}
.service-contents ul li a i.ms04 {
  background-position: -300px 0;
}
.service-contents ul li a i.ms05 {
  background-position: -180px 0;
}
.service-contents ul li a i.ms06 {
  background-position: -960px 0;
}
.service-contents ul li a i.ms07 {
  background-position: -780px 0;
}
.service-contents ul li a i.ms08 {
  background-position: -1140px 0;
}
.service-contents ul li a i.ms09 {
  background-position: -1020px 0;
}
.service-contents ul li a i.ms10 {
  background-position: -60px 0;
}
.service-contents ul li a i.ms11 {
  background-position: -1200px 0;
}
.service-contents ul li a i.ms12 {
  background-position: -600px 0;
}
/* Main - aside */
aside {
  width: 100%;
  background-color: #eff4f8;
  margin: 20px 0;
}
aside ul {
  width: 1152px;
  margin: auto;
  display: flex;
}
aside ul li {
  padding: 20px 0;
}
aside ul li:not(:first-child) a img {
  border-left: 1px solid #bbb;
  width: 230px;
  height: 70px;
}
/* Main - inner01(common) */
.inner01 {
  width: 100%;
  overflow: hidden;
  padding: 40px 0 40px;
  border-bottom: 2px solid #222;
}
.inner01 > div {
  float: left;
  width: 360px;
}
.inner01 > div > h2 {
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.inner01 > div:last-of-type > h2 {
  border: none;
}
.event > ul > li,
.fesival > ul > li {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event > ul > li > b,
.fesival > ul > li > b {
  font-weight: normal;
  font-size: 15px;
  margin-right: 10px;
}
b.welfare {
  color: #d76000;
}
b.economy {
  color: #069363;
}
b.environment {
  color: #599100;
}
b.culture {
  color: #9b64d3;
}
b.administration {
  color: #028ab6;
}
.event > ul > li > a,
.fesival > ul > li > a,
.like-service > ul > li > a {
  font-size: 14px;
}
/* Main - inner01(festival) */
.fesival {
  margin: 0 35px;
}
/* Main - inner01(like service) */
.like-service ul {
  border: 1px solid #000;
}
.like-service ul li {
  width: 50%;
  float: left;
  padding: 0 0 10px 10px;
  position: relative;
}
.like-service ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  background: #666666;
  width: 2px;
  height: 2px;
}
/* Main - inner02 */
.inner02 {
  width: 100%;
  padding-top: 40px;
}
.inner02 h2 {
  font-size: 24px;
  font-weight: 700;
}
.info {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.info li {
  float: left;
  width: 85px;
  text-align: center;
  margin: 0 29px;
}
li.icon-house {
  background: url(/images/info_icon_house.png) no-repeat;
}
li.icon-economy {
  background: url(/images/info_icon_economy.png) no-repeat;
}
li.icon-traffic {
  background: url(/images/info_icon_traffic.png) no-repeat;
}
li.icon-environment {
  background: url(/images/info_icon_environment.png) no-repeat;
}
li.icon-welfare {
  background: url(/images/info_icon_welfare.png) no-repeat;
}
li.icon-safty {
  background: url(/images/info_icon_safty.png) no-repeat;
}
li.icon-culture {
  background: url(/images/info_icon_culture.png) no-repeat;
}
li.icon-administration {
  background: url(/images/info_icon_administration.png) no-repeat;
}
.info li a {
  font-size: 16px;
  display: inline-block;
  /* padding으로 늘려서 a로 보이게함 */
  padding-top: 100px;
}